src/pug/cssani.pug
extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock

  div#cssani
    h1 CSSアニメーション練習ページ

    h2 1.
    div.animationtest1

    h2 2.
    div.animationtest2
      p www.kayac.com

    h2 3.
    div.animationtest3
      img.front(src="images/front.png")

    h2 4.
    div.animationtest4
      img.front(src="images/front.png")
      img.back(src="images/back.png")

public/cssani.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- meta-->
    <title>kayac-html5-starter</title>
    <meta name="description" content="kayac-html5-starter web page.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- smartphone meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <!-- ogp-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="kayac-html5-starter">
    <meta property="og:site_name" content="kayac-html5-starter">
    <meta property="og:description" content="kayac-html5-starter web page.">
    <meta property="og:locale" content="ja_JP">
    <!-- twitter card-->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="kayac-html5-starter">
    <meta property="twitter:description" content="kayac-html5-starter web page.">
    <!-- stylesheet-->
    <script src="js/lib/html5shiv.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div id="cssani">
        <h1>CSSアニメーション練習ページ</h1>
        <h2>1.</h2>
        <div class="animationtest1"></div>
        <h2>2.</h2>
        <div class="animationtest2">
          <p>www.kayac.com</p>
        </div>
        <h2>3.</h2>
        <div class="animationtest3"><img class="front" src="images/front.png"></div>
        <h2>4.</h2>
        <div class="animationtest4"><img class="front" src="images/front.png"><img class="back" src="images/back.png"></div>
      </div>
    </div>
    <!-- javascript-->
    <script src="js/script.js"></script>
  </body>
</html>
