src/pug/index.pug
extends layout/DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock

  header
    div.menu-wrap
      div.toggle
        div.navigation
          span.navi Navigation
          a.trigmenu(href="#")
            span
            span
            span
      nav.menu
        ul
          li: a(href="#") PSD Websites
          li: a(href="#") UI KITS
          li: a(href="#") PREMIUM PSD FILES
          li: a(href="#") ABOUT
          li: a(href="#") BLOG
          li: a(href="cssani.html") CSS Animation(リンクあり)

  main
    section.top
        h1.title
          |Awesome Free PSD
          br
          |templates & Resources
        h2.subtitle www.BlazRobar.com

    section.middle
      section.block_m1
        p.middleDesc I'm like the Robin Hood of PSD files.
      section.block_m2
        section.inner_m2
          img(src="images/right-arrow.png")

    section.bottom
      section.block_b1
        section.inner_b1
          img(src="images/right-arrow.png")
      section.block_b2
        img(src="images/bridge.png")
      section.block_b3
        img(src="images/lady.png")

  footer
    section.description
      h1.footertitle BlazRobar.com
      div.para1
        p.desc_p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.
        p.desc_p2 Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.
      div.para2
        p.desc_p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.
        p.desc_p2 Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.

public/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <!-- meta-->
    <title>kayac-html5-starter</title>
    <meta name="description" content="kayac-html5-starter web page.">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!-- smartphone meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
    <!-- ogp-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="kayac-html5-starter">
    <meta property="og:site_name" content="kayac-html5-starter">
    <meta property="og:description" content="kayac-html5-starter web page.">
    <meta property="og:locale" content="ja_JP">
    <!-- twitter card-->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="kayac-html5-starter">
    <meta property="twitter:description" content="kayac-html5-starter web page.">
    <!-- stylesheet-->
    <script src="js/lib/html5shiv.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="menu-wrap">
          <div class="toggle">
            <div class="navigation"><span class="navi">Navigation</span><a class="trigmenu" href="#"><span></span><span></span><span></span></a></div>
          </div>
          <nav class="menu">
            <ul>
              <li><a href="#">PSD Websites</a></li>
              <li><a href="#">UI KITS</a></li>
              <li><a href="#">PREMIUM PSD FILES</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">BLOG</a></li>
              <li><a href="cssani.html">CSS Animation(リンクあり)</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <main>
        <section class="top">
          <h1 class="title">Awesome Free PSD<br>templates & Resources</h1>
          <h2 class="subtitle">www.BlazRobar.com</h2>
        </section>
        <section class="middle">
          <section class="block_m1">
            <p class="middleDesc">I'm like the Robin Hood of PSD files.</p>
          </section>
          <section class="block_m2">
            <section class="inner_m2"><img src="images/right-arrow.png"></section>
          </section>
        </section>
        <section class="bottom">
          <section class="block_b1">
            <section class="inner_b1"><img src="images/right-arrow.png"></section>
          </section>
          <section class="block_b2"><img src="images/bridge.png"></section>
          <section class="block_b3"><img src="images/lady.png"></section>
        </section>
      </main>
      <footer>
        <section class="description">
          <h1 class="footertitle">BlazRobar.com</h1>
          <div class="para1">
            <p class="desc_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.</p>
            <p class="desc_p2">Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.</p>
          </div>
          <div class="para2">
            <p class="desc_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula ipsum non leo tristique eget facilisis lacus commodo. Curabitur vitae justo lorem, non ornare nibh. Pellentesque pretium, tellus ac ultrices faucibus, nibh mauris dapibus lorem, vitae viverra nisl elit sit amet libero. Nam eu blandit risus.</p>
            <p class="desc_p2">Phasellus imperdiet mattis nulla. Integer gravida imperdiet congue. Proin vitae pretium augue. Donec est sem, mattis et blandit ac, blandit at arcu. Donec tempus tincidunt suscipit. Suspendisse eu vulputate lacus.</p>
          </div>
        </section>
      </footer>
    </div>
    <!-- javascript-->
    <script src="js/script.js"></script>
  </body>
</html>
